*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.total-area{
    background-color: rgb(242, 247, 246);
    height: 630px;
    width: 75%;
    margin: auto;
    margin-top: 30px;
}

.container{
    width: 80%;
    margin: auto;   
}
.row{
    justify-content: space-between;
    display: flex;
}
.iner-area{
    padding-top: 70px;
}
.col-3{
  background-color: rgb(255, 255, 255);
  padding: 25px 30px 30px 50px;   
  margin-bottom: 30px; 
  border-radius: 10px;
}
.img{
    width: 30px;
    height: 70px;   
}
.img img{
    width: 160%;
    
}

.img-name h5{
    padding: 30px 0 30px 50px;
    font-size: 20px;
}

.quentity-area{
    margin-top: 30px;
    margin-right: 30px;
}

.quentity{
    padding-right: 60px;
}
.quentity button{
    padding: 0 10px;
    background-color: rgb(255, 255, 255);
    border: none;
    font-size: 16px;
    font-weight: bold;
}
.quentity p{
    padding: 0 10px;
    background-color: rgb(213, 218, 218);
    border-radius: 6px;
    padding: 3px 15px;
}

.price{
    margin: 0 20px;
}
.price p{
    font-weight: bold;
}
.cancel {
    color: red;
}
.c-o-btn{
    text-align: right;
    padding-right: 120px;
}
.c-o-btn button{
    
    padding: 12px 17px;
    margin-top: -20px;
    background-color: rgb(12, 147, 73);
    color: aliceblue;
    border-radius: 8px;
    border: none;
}



.titel-area {
    padding-left: 35px;
    
}
.total-amount{
    padding-right: 50px;
   
}